<div class="back">
  <ul class="nav justify-content-center">
    <li class="nav-item" routerLink="/">
      <a class="nav-link active">Home</a>
    </li>
    <li class="nav-item" routerLink="/demo">
      <a class="nav-link active">Demo</a>
    </li>
    <li class="nav-item" routerLink="/demo1">
      <a class="nav-link active">Demo1</a>
    </li>
    <li class="nav-item" routerLink="/photos">
      <a class="nav-link active">Photos</a>
    </li>
    <li class="nav-item" routerLink="/blogs">
      <a class="nav-link active">Blogs</a>
    </li>
  </ul>
</div>
